* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Staatliches', cursive;
    color: #000;
}

html, body {
    height: 100%;
    width: 100%;
    
}

body {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
}

header {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    background-color: #dadada;
    align-items: center;
    box-shadow: 0px 1px 3px #777777;

    h1 {
        display: block;
        text-align: center;
        width: 20%;
    }

    nav {
        width: 60%;
        height: 100%;

        ul {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: flex-end;
            flex-flow: row nowrap;
            align-items: center;

            a {
                height: 100%;
                
                

                
                

                li {
                    line-height: 100px;
                    padding-left: 30px;
                    padding-right: 30px;
                }
            }
            

            a:hover > li{
                background-color: #cccccc;
                color: yellow;
            }
        }
    }
    
}

form {
    margin: 50px auto;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    width: 50%;

    input, textarea, button {
        // width: 50%;
        padding: 10px;
    }

    textarea {
        min-height: 100px;
    }
}

button:hover {
    color: yellow;
    cursor: pointer;
}

.messages {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    
    width: 100%;


    .message {
        padding: 10px;
        background-color: #dadada;
        box-shadow: 2px 2px 3px #777777;
        max-width: 20%;
        flex: 20%;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 50px;
        
        

    }
}
