<nav>
    <ul>
        <a href="/"><li>Home</li></a>
        <a href="/about-us"><li>About Us</li></a>
        <a href="/messages"><li>Messages</li></a>
        <a href="/contacts"><li>Contacts</li></a>
    </ul>
</nav>
